.all {
    margin: auto;
    width: 1349px;
    padding: 10px;
    height: 1300px;
    background-color: white;
}

.pic {
    height: 250px;
    width: 250px;
    padding: 20px;
}

.info {
    width: 1330px;
    height: 445px;
    padding: 10px;
    margin-top: 8%;
    background-color: gainsboro;
}

.pics {
    float: left;
}

.names {
    padding-top: 5%;
    margin-right: auto;
}

.educ {
    width: 40% ;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: auto;
    float: left;
    margin-top: 25px;
    height: 505px;
}

.personal {
    width: 40% ;
    border: 1px solid black;
    margin-left: 9%;
    margin-right: auto;
    float: left;
    margin-top: 25px;
    height: 505px;
}

.edu {
    font-family:'Times New Roman';
}

.junior {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid gainsboro;
    margin: 0 10px;
}

.phone {
    width: 10%; 
    height: auto;
    display: block;
    float: left;
    margin-top: 10px;
}

.number {
    margin-top: 28px;
}

.email {
    width: 10%; 
    height: auto;
    display: block;
    float: left;
    margin-top: 10px;
}

.emailadd {
    margin-top: 35px;
}

.add {
    width: 10%; 
    height: auto;
    display: block;
    float: left;
    margin-top: 15px;
}

.address {
    margin-top: 30px;
    text-align:left;
}

.container2 {
    display: flex;
}

.column2 {
    flex: 1;
    padding: 20px;
    margin: 0 10px;
}

.column3 {
    flex: 0.3;

}

.tops {
    width: 100%;
    margin-top: 150px;
    height: 200px;
}

@media screen and (max-width: 820px) {
    .all {
        width: 770px;
        height: 2200px;
    }

    .grade12 {
        padding-left: 155px;
    }

    .column3 {
        width: 100px;
    }

    .list {
        padding-left: 200px;
    }

    .tops {
        width: 100%;
    }

    .info {
        margin-top: 150px;
        width: 750px;
        height: 1040px;
    }

    .phone {
        width: 40px;
        height: 40px;
    }

    .email {
        width: 40px;
        height: 40px;
    }

    .add {
        width: 40px;
        height: 45px;
    }

    .pic {
        width: 250px;
        height: 250px;
    
    }

    .names {
        margin-left: auto;
        margin-top: 30px;
        font-size: 12px;
    }

    .column {
        margin-top: 0px;
        margin: 0px;
    }

    .container {
        flex-direction: column;
    }

    .container2 {
        flex-direction: column;
    }


}

 
@media screen and (max-width: 450px) {
    .all {
        width: 400px;
        height: 2150px;
    }
    
    .grade12 {
        padding-left: 0px;
    }

    .tops {
        width: 110%;
    }

    .list {
        padding-left: 20px;

    }

    .pic {
        width: 170px;
        height: 170px;
    }

    .pics {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .info {
        padding: 0%;
        margin-top: 90px;
        width: 400px;
        height: 1070px;
    }

    .names {
        margin-left: auto;
        margin-top: 30px;
        font-size: 10px;
    }

    .container {
        flex-direction: column;
    }

    .container2 {
        flex-direction: column;
    }


}
    
